:root {
    --primary: #0F96FD;
    --danger: #FA3233;
    // --info: white;
    // --warning: yellow;
}

@primary: var(--primary);
@danger: var(--danger);
//   @info: var(--info);
.primary {
    --theme-bg: url("../images/bgcolor-init.png");
    --theme-color: #0F96FD;
}

.danger {
    --theme-bg: url("../images/bgcolor-spring.png");
    --theme-color: #FA3233;
}
@theme-bg: var(--theme-bg);
@theme-color: var(--theme-color);

.body { 
    min-width: 1200px;
    margin: 0 auto;
    .header {
        // background-color: @danger;
        // color: @info;
        background-image: @theme-bg;
        background-size: cover;
        width: 100%;
        height: 378px;
        position: relative;
        .tab {
            width: 30px;
            height: 15px;
            line-height: 15px;
            border-radius: 7px;
            position: absolute;
            bottom: 30px;
            right: 100px;
            background-color: #FAECDE;
            color: #726D67;
            text-align: center;
            font-size: 10px;
            cursor: pointer;
        }
        .header-header {
            color: #fff;
            font-size: 12px;
            display: flex;
            height: 50px;
            .list {
                /* height: 100%; */
            }
            
            .list .item,
            .list li {
                list-style: none;
                display: inline-block;
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                cursor: pointer;
            }
            
            .active {
                background-color: gold;
            }
            
            .info {
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                position: relative;
                cursor: pointer;
                .title {
                    padding: 0 10px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                }
            }
            
            .popUp {
                width: 240px;
                height: 100px;
                background-color: white;
                border-radius: 5px;
                position: absolute;
                left: -10px;
                cursor: pointer;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -20px;
                    left: 40px;
                    width: 0;
                    height: 0;
                    border-width: 10px;
                    border-style: dashed solid dashed dashed;
                    border-color: transparent transparent white transparent;
                }
            }
            
            .show {
                display: inline-block;
            }
            .hidden {
                display: none;
            }
            .flex1 {
                flex: 1;
                min-width: 300px;
            }
            .search {
                height: 100%;
                line-height: 100%;
                margin-left: 50px;
                position: relative;
                cursor: pointer;
                input {
                    width: 100%;
                    height: 30px;
                    padding: 0 10px;
                    line-height: 30px; 
                    border-radius: 15px;
                    border: none;
                    margin-top: 9px;
                    background-color: rgba(255, 255, 255, 0.3);
                    position: relative;
                    &::-webkit-input-placeholder {
                        color: #fff;
                        font-size: 12px;
                    }
                }
                span {
                    position: absolute;
                    right: 28px;
                    top: 0px;
                }
            }
            .user { 
                display: inline-block;
                height: 22px;
                width: 45px;
                line-height: 22px;
                padding: 0 5px;
                border-radius: 10px;
                position: relative;
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.3);
            }
            // .relative {
            //     position: absolute;
            //     right: 3px;
            //     top: 3px;
            // }
        }
    }
    // .section {
    //     width: 100%;
    //     height: 200px;
    //     background-color: green;
    // }
    
    .main {
        width: 100%;
        height: 500px;
        background-color: #F6F7F9;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        .left {
            height: 100%;
            width: 350px;
            margin-right: 20px;
            position: relative;
            .toLeft {
                width: 100%;
                min-height: 80px;
                border-radius: 10px;
                background-color: #fff;
            }
            .targetItem {
                position: absolute; 
                display: flex;
                z-index: 999;
                width: 100%;
                height: auto;
                cursor: move; 
                .item {
                    width: 33%;
                    .title {
                        color: @theme-color;
                    }
                    .content {
                        color: #B5B5B5;
                    }
                } 
            }
        }
        .center {
            height: 100%;
            max-width: 400px;
            flex: 1;
            position: relative;
            .toCenter {
                width: 100%;
                min-height: 120px;
                border-radius: 10px;
                background-color: #fff;
            }
            .targetItem {
                position: absolute; 
                display: block;
                z-index: 999;
                width: 100%;
                height: auto;
                cursor: move;  
            }
        }
        .right {
            height: 100%;
            width: 350px;
            margin-left: 20px;
            position: relative;
            .toRight {
                width: 100%;
                min-height: 100px;
                border-radius: 10px;
                background-color: #fff;
            }
            .targetItem {
                position: absolute; 
                display: block;
                z-index: 999;
                width: 100%;
                height: auto;
                cursor: move;  
            }
        }

    }
    
    .footer {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        text-align: center;
        background-color: #0C367E;
        color: #fff;
    }
    
}


.ctext {
    text-align: center;
}
.iblock {
    display: inline-block;
}
.block {
    display: block;
}
.logo {
    width: 300px;
    /* height: 50px; */
    background-color: yellow;
}

input:-moz-placeholder,  
textarea:-moz-placeholder {  
    color: #F6F6F6;  
}  
input:-ms-input-placeholder,  
textarea:-ms-input-placeholder {  
    color: #F6F6F6;  
}  
input::-webkit-input-placeholder,  
textarea::-webkit-input-placeholder {  
    color: #F6F6F6;  
}
